<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="csv" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source='C:\Users\jkiely\Desktop\';Extended Properties='text;HDR=Yes;FMT=Delimited';" />
  </connectionStrings>
  <appSettings>
    
    <!-- enter the name of the column you would like to order by below -->
    <add key="OrderBy" value ="TotalPayout"/>
    
    <!-- "Console" = Output to console; "XML" = Output to XML file in debug folder -->
    <add key="OutputMethod" value ="Console"/> 
    
    <!-- Enter "EUR" to convert all totals to Euro -->
    <!-- Enter "GBP" to convert all totals to £ -->
    <!-- Enter "" to apply no conversion -->
    <add key="CurrencyOutput" value =""/>
  
  </appSettings>

</configuration>