<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="csv" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source='C:\Users\jkiely\Desktop\';Extended Properties='text;HDR=Yes;FMT=Delimited';" />
  </connectionStrings>
  <appSettings>
    <add key="OrderBy" value ="TotalStake"/>
    <add key="OutputMethod" value ="XML"/>
    <add key="CurrencyOutput" value =""/>
  </appSettings>

</configuration>